<nav class="site-nav">
  <a class="site-logo" href="/" title="Design Principles logo"><span class="sr-only">Home</span><img src="/images/design-principles-logo.svg" alt="Design Principles Logo, an arrow navigating through a path of decisions" style="width: 4em; height: 4em;"></a>
  <ul>
    <li class="about">
      <a class="h3 site-nav__link about" href="/about/">About</a>
    </li>
    <li class="create">
      <a class="h3 site-nav__link create" href="/create/">Create</a>
    </li>
    <li class="examples">
      <a class="h3 site-nav__link examples" href="/examples/">Examples</a>
    </li>
    <li class="contribute">
      <a class="h3 site-nav__link contribute" href="/contribute/">Contribute</a>
    </li>
    <li class="news">
      <a class="h3 site-nav__link" href="http://designprinciples.news/" target="_blank">News</a>
    </li>
  </ul>
</nav>
