.site-nav {
  grid-column: auto / span 12;
}

// @media (min-width: $mq-l) {
//   ul.site-nav li a {
//     text-decoration: none;
//     margin-top: -4px;
//     display: inline-block;
//     height: 100%;
//     padding: 0 0.6em;
//   }
// }


.site-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0.5em;
  float: none;
  max-width: 400px; // forces nav to break onto two lines
  overflow: visible; // allows localised text to overflow if longer
  // @media (min-width: $mq-l) {
  //    padding-left: 1.6em;
  //    margin-top: 0;
  //    float: right;
  //    max-width: none;
  //    width: auto;
  //   }
}
.site-nav li {
  margin-right: 0.6em;
  font-weight: bold;
  float: left;
  display: inline-block;
  // @media (min-width: $mq-l) {
  //   // margin-right: 0;
  //   // padding: 0.2em 0.6em;
  //   height: 100%;
  //   margin-right: 0;
  //   }
}
.site-nav li:last-child {
  margin-right: 0;
}
// .site-nav a {
//   text-decoration: none!important; // overrides specific page active states
// }
.site-nav a:hover {
  text-decoration: underline;
  color: $black;
}

// active nav highlighting

body.about nav li a.about, li a.about:hover,
body.create nav li a.create, li a.create:hover,
body.examples nav li a.examples, li a.examples:hover,
body.contribute nav li a.contribute, li a.contribute:hover
 {
  text-decoration: underline;
  cursor: pointer;

  // @media (min-width: $mq-l) {
  //   border-top: solid 4px $black;
  //   background: lighten($primary, 10%);
  //   text-decoration: none;
  //   }
}
